.App {
  text-align: center;
  width: 750px;
  margin: 50px auto;
  font-family: 'Patua One', cursive;
  background-color:#fff;
}

.header {
  font-size: 34px;
  color:#f06c00;
  display: grid;
  justify-items: left;
  padding: 30px 15px;
  background-color:#fff;
}

.header p {
  font-size: 16px;
}
.title {
  text-align: center;
  font-size: 32px;
  color: #7c7c7c;
}

.form {
  /* border-radius: 5px; */
  background-color: #fff;
  padding: 30px;
  margin: 10px auto;
}

.label {
  font-size: 16px;
  font-weight: 500;
  display: grid;
  justify-items: left;
}

input[type=text], select {
  width: 100%;
  padding: 15px 20px;
  margin: 10px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.button {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  background-color: #adadad;
  color: white;
  margin: 18px auto;
  padding: 14px 5px;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: #7c7c7c;
}

textarea {
    height: 75px;
    width: 55%;
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 16px;
}

.select {
  height: 28px;
  background-color: #adadad;
  color: white;
  /* background-color:#fd9900;
  color: white; */
  font-size: 16px;
}






