.App {
  text-align: center;
  width: 100vh;
  height: 100vh;
  margin: 30px auto;
  font-family: 'Patua One', cursive;
  box-shadow: 0px 1.5px 5px rgba(200,200,200,.6); 
}

.title {
  padding: 30px 0 3px 0;
  text-align: center;
  font-size: 32px;
  color: #4c4c4c;
  margin-block-start: 0em;
}

.form {
  /* border-radius: 5px; */
  width: 100vh;
  background-color: #fff;
  margin: 5px auto;
  padding: 0 40px 25px 40px;

}

.label {
  font-size: 16px;
  font-weight: 500;
  display: grid;
  justify-items: left;
}

input[type=text], select {
  width: 100%;
  padding: 15px 20px;
  margin: 10px auto;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.button {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  background-color: #f06c00;
  color: white;
  margin: 18px auto;
  padding: 14px 5px;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.button-text {
  display: -webkit-box;
  font-size: 10px;
  font-weight: 600;
  width: 15%;
  /* color:#f06c00; */
  background-color: #f06c00;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin: 14px auto 2px auto;
  padding: 10px 1px;
}

.button:hover {
  background-color: #e89653;
}

textarea {
    height: 75px;
    width: 55%;
    margin: 15px auto 0 auto;
    text-align: center;
    font-size: 16px;
}

.select {
  height: 28px;
  /* background-color: #adadad; */
  color:#adadad;
  /* background-color:#fd9900;
  color: white; */
  font-size: 16px;
}






